{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block banner %}
    {% include 'partials/front/_banner.html' %}
{% endblock banner %}


{% block content %}
    <section>
            <div class="container">

                <div class="row">
                    <div class="col-md-4 border-right border-dark">
                        <img src="{{user_obj.user_profile.profile_pic.url}}" alt="" class="img-fluid img-thumbnail rounded-circle mx-auto d-block">
                        <hr>
                        <h6 class="font-size20 border-bottom padding-20px-bottom">Email : <small>{{user_obj.email}}</small></h6>

                        <h6 class="font-size20 border-bottom padding-20px-bottom">Phone Number : <small>{{user_obj.user_profile.phone_number}}</small></h6>

                        <h6 class="font-size20 border-bottom padding-20px-bottom">Address : <small>{{user_obj.user_profile.address}}</small></h6>

                        <h6 class="font-size20 border-bottom padding-20px-bottom">Accounts Status : <small>
                            {% if user_obj.user_profile.active and user_obj.user_profile.email_confirmed %}
                                Active Account
                            {% endif %}
                        </small></h6>

                        <h6 class="font-size20 border-bottom padding-20px-bottom">Total Listing : <small>{{user_obj.user_listings.count}}</small></h6>

                        <h5 class="font-size20 border-bottom padding-20px-bottom">Description</h5>
                        <p>{{user_obj.user_profile.about}}</p>

                    </div>

                    <div class="col-md-8">
                        <div class="text-center margin-40px-bottom">
                            <h3 class="margin-10px-bottom">Find Rooms  Near You</h3>
                            <p class="no-margin-bottom">Find Rooms In Reasonable Price For Your Night</p>
                        </div>

                        <div class="row">

                            {% for listing in listing_list %}



                            <div class="col-md-6 col-lg-6 margin-30px-bottom">
                                <a href="{% url 'listings:listing_details' listing.slug %}" class="card bg-img box-hover cover-background border-0 p-4 h-100"
                                {% with listing.listing_images.all|first as image %}
                                    data-background="{{image.image.url}}"
                                {% endwith %}
                                >
                                    <div class="mt-auto position-relative z-index-9">
                                        <h5 class="text-white">{{listing.title}}</h5>
                                        <hr class="border-color-light-white">
                                        <div class="position-relative z-index-9 text-white"><span class="ti-location-pin text-primary"></span>{{listing.city}}--{{listing.area}}</div>
                                    </div>
                                </a>
                            </div>

                            {% endfor %}

                        </div>
                    </div>

                    {% if is_paginated %}
                        <div class="col-md-12">
                            {% include 'partials/front/_pagination.html' %}
                        </div>
                    {% endif %}

                </div>

            </div>
        </section>
{% endblock content %}
