{% load static %}

<section class="bg-img cover-background line-banner" data-overlay-dark="6" data-background="{% static 'front/img/banner/bg2.jpg' %}" style="height:600px;">

            <!-- start banner text -->
            <div class="container position-relative h-100">
                <div class="header-text display-table h-100 z-index-1 width-100">
                    <div class="display-table-cell vertical-align-middle text-center">

                        <p class="font-size18 xs-font-size16 text-white letter-spacing-1 margin-15px-bottom">Search top-rated Falt</p>

                        <!-- start banner headline text -->
                        <h1 class="cd-headline slide">
                                                Find The Best
                                                <span class="cd-words-wrapper no-padding-tb">
                                                    <b class="is-visible">Falt Room</b>
                                                    <b>Falt Appartment</b>
                                                    <b>Office Appartment</b>
                                                    <b>And More</b>
                                                </span>
                                            </h1>
                        <!-- end banner headline text -->

                        <div class="bg-white-opacity padding-10px-tb margin-40px-top xs-margin-30px-top padding-15px-lr xs-padding-20px-all border-radius-4">
                            <form method="GET" action="{% url 'listings:listing_search' %}">
                                <div class="form-row align-items-center">
                                    <div class="col-md-3 my-1">
                                        <input type="text" class="form-control" id="inlineFormInputName" placeholder="What are you looking for?" name="query">
                                    </div>
                                    <div class="col-md-2 my-1">
                                        <select class="form-control" id="exampleFormControlSelect1" name="city">
                                            <option selected>All City</option>
                                            {% for city in all_city %}
                                                <option value="{{city}}">{{city}}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                    <div class="col-md-2 my-1">
                                        <select class="form-control" id="exampleFormControlSelect1" name="location">
                                            <option selected>All Location</option>
                                            {% for location in all_location %}
                                                <option value="{{location}}">{{location}}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                    <div class="col-md-3 my-1">
                                        <select class="form-control" id="exampleFormControlSelect2" name="category">
                                            <option selected>All Categories</option>

                                            {% for category in all_categories %}
                                               <option value="{{category.id}}">{{category.name}}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                    <div class="col-md-2 my-1">
                                        <button type="submit" class="butn btn-block">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="margin-40px-top xs-margin-30px-top">
                            <span class="margin-10px-right text-white xs-display-block xs-margin-10px-bottom">Popular Tags</span>
                            <div class="searchs display-inline-block">
                                <ul class="no-margin-bottom">
                                    {% for tag in common_tags %}
                                        <li><a href="{% url 'listings:tag_listing' tag.slug %}" class="text-white">{{tag.name}}</a></li>
                                    {% endfor %}


                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end banner text -->

        </section>
