{% load static %}

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'front/img/logos/favicon.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'front/img/logos/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'front/img/logos/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'front/img/logos/apple-touch-icon-114x114.png' %}" />

    <!-- plugins -->
    <link rel="stylesheet" href="{% static 'front/css/plugins.css' %}" />

    <!-- search css -->
    <link rel="stylesheet" href="{% static 'front/search/search.css' %}" />


    <!-- core style css -->
    <link href="{% static 'front/css/styles.css' %}" rel="stylesheet" />

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0"></script>
