{% load static %}

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- Java script -->
    <script src="{% static 'front/js/core.min.js' %}"></script>

    <!-- serch -->
    <script src="{% static 'front/search/search.js' %}"></script>



    <!-- custom scripts -->
    <script src="{% static 'front/js/main.js' %}"></script>

    <!-- all js include end -->
