{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{title}}
{% endblock title %}

{% block banner %}
    {% include 'partials/front/_page_section.html' %}
{% endblock banner %}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 center-col">
                <div class="padding-40px-all sm-padding-25px-all shadow border-radius-4">
                    <h3 class="text-center margin-40px-bottom">Reset Your Password</h3>
                    <h6 class="text-center margin-40px-bottom">Enter Your Email To Reset</h6>

                    <form action="" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{form.email|as_crispy_field}}
                                </div>

                                <div class="col-md-12 margin-25px-top">
                                <button type="submit" class="butn btn-block">Send</button>
                                </div>

                                <div class="col-md-12 text-center margin-25px-top">
                                    <span>Already have an account? <a href="{% url 'accounts:login' %}">Login</a></span>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
