{% extends "base.html" %}

{% load static %}


{% block title %}
    {{title}}
{% endblock title %}

{% block banner %}
    {% include 'partials/front/_page_section.html' %}
{% endblock banner %}

{% block content %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 center-col">
                    <div class="padding-40px-all sm-padding-25px-all shadow border-radius-4">
                        <p>
                            Your password has been set. You may go ahead and <a href="{% url 'accounts:login' %}">sign in</a> now.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>






{% endblock %}
