{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    {{title}}
{% endblock title %}

{% block banner %}
    {% include 'partials/front/_page_section.html' %}
{% endblock banner %}

{% block content %}


<section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 center-col">
                    <div class="padding-40px-all sm-padding-25px-all shadow border-radius-4">
                            <h3 class="text-center margin-40px-bottom">Reset Password</h3>
                            {% if validlink %}
                            <form action="" method="POST" novalidate>
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{form.new_password1|as_crispy_field}}
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{form.new_password2|as_crispy_field}}
                                        </div>
                                    </div>

                                    <div class="col-md-12 margin-25px-top">
                                        <button type="submit" class="butn btn-block">Change Password</button>
                                    </div>

                                    <div class="col-md-12 text-center margin-25px-top">
                                        <span>Already have an account? <a href="{% url 'accounts:login' %}">Login</a></span>
                                    </div>

                                </div>
                            </form>
                            {% else %}
                                <p>
                                  The password reset link was invalid, possibly because it has already been used.
                                  Please request a new password reset.
                                </p>
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}


