{% load static %}

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'front/img/logos/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'front/img/logos/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'front/img/logos/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'front/img/logos/apple-touch-icon-114x114.png' %}">

    <!-- common plugins -->
    <link rel="stylesheet" href="{% static 'admin/plugins/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/plugins/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/plugins/icomoon/style.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/plugins/switchery/switchery.min.css' %}" />

    <link href="{% static 'front/css/jquery-confirm.css' %}" rel="stylesheet" />

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'admin/css/styles.css' %}" />
