{% load static %}


    <script src="{% static 'admin/plugins/jquery/jquery-3.1.0.min.js' %}"></script>

    <!-- bootstrap -->
    <script src="{% static 'admin/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- switchery -->
    <script src="{% static 'admin/plugins/switchery/switchery.min.js' %}"></script>

    <script src="{% static 'front/js/jquery-confirm.js' %}"></script>

    <script src="{% static 'front/js/myscript.js' %}"></script>

    <!-- custom scripts -->
    <script src="{% static 'admin/js/main.js' %}"></script>
